
@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#pLoading").hide();

            $("#btnNPOI").click(function () { loadNPOI(); });
            $("#btnEPPlus").click(function () { loadEPPlus(); });

            function loadNPOI() {
                $('#taResult').text("");
                $("#pLoading").show();
                $.when($.post("@Url.Action("SearchUseNPOI")", { searchName: $("#inputSearch").val() }))
                .done(doneFunc)
                .always(function(){ $("#pLoading").hide();});
            }

            function loadEPPlus() {
                $('#taResult').text("");
                $("#pLoading").show();
                $.when($.post("@Url.Action("SearchUseEPPlus")", { searchName: $("#inputSearch").val() }))
                .done(doneFunc)
                .always(function(){ $("#pLoading").hide();});
            }

            function doneFunc(data) {
                $('#taResult').text(data);
            }

            //SearchUseEPPlus
        });

        
    </script>
}

<h2>Index</h2>

<p id="pLoading">Loading...</p>

<input id="inputSearch" type="text" placeholder="search" />
<button id="btnNPOI">Get Data use NPOI</button>
<button id="btnEPPlus">Get Data use EPPlus</button>
<textarea id="taResult">

</textarea>